*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}

.container{
	width: 100%;
	height: 100vh;
	background: url(https://images.unsplash.com/photo-1516410529446-2c777cb7366d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.5rem;

}
.nav{
	width: 100%;
	max-width: 78rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	pointer-events: none;
}

.nav:hover{
	pointer-events: auto;
}

.social-media-cta{
	font-size: 2.6rem;
	text-transform: uppercase;
	cursor: pointer;
	pointer-events: auto;
}

.separator-line{
	width: 15rem;
	height: 3px;
	background-color: #fff;
	margin-left: 1.5rem;
	margin-right: auto;
	transform: scaleX(.2);
	transform-origin: left;
	transition: transform .5s ease-in-out;
}

.nav:hover .separator-line{
	transform: scaleX(1);
}

.nav-list{
	display: flex;
}

.nav-item{
	list-style: none;
	margin: 0 2.5rem;
	opacity: 0;
	transition: transform .5s ease-in-out,opacity .5s ease-in-out
}

.nav-item:nth-child(odd){
	transform: translateY(5rem);
}

.nav-item:nth-child(even){
	transform: translateY(-5rem);
}

.nav:hover .nav-item{
	opacity: 1;
	transform: translateY(0);
}

.nav-link{
	color: white;
	font-size: 3.6rem;
}

.nav-link i{
	transition: color .5s ease-in-out;
}

.nav-link:hover i.fa-facebook-f{
	color: #3b5998;
}

.nav-link:hover i.fa-twitter{
	color: #1da1f2;
}

.nav-link:hover i.fa-behance-square{
	color: #1769ff;
}

.nav-link:hover i.fa-github-square{
	color: #333;
}

.nav-link:hover i.fa-linkedin-in{
	color: #0077b5;
}

@media screen and (max-width: 760px){
	.nav,
	.nav-list{
		flex-direction: column;
	}
	.separator-line{
		margin: auto;
	}
	.nav-item{
		margin: 2.5rem 0;
	}
	.nav-item:nth-child(odd){
	transform: translate(5rem, 0);
	} 

	.nav-item:nth-child(even){
	transform: translate(-5rem,0);
	}
}

